<p>mon-premier-component works!</p>
<li class="list-group-item">
    <div style="width:20px;height:20px;background-color:red;"
    *ngIf="appareilStatus === 'éteint'"></div>
<h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- ordinateur : {{ getStatus() }}</h4>
<div style="width:20px;height:20px;background-color:red;"
    *ngIf="appareilStatus === 'allumé'"></div>
<h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilFunction }} -- Machine à laver : {{ getStatus() }}</h4>
<div style="width:20px;height:20px;background-color:red;"
    *ngIf="appareilStatus2 === 'éteint'"></div>
<h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilFunction }} -- lave linge : {{ getStatus() }}</h4>
<input type="text" class="form-control" [(ngModel)]="appareilFunction">
<div style="width:20px;height:20px;background-color:red;"
    *ngIf="appareilStatus === 'éteint'"></div>
<h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- ordinateur : {{ getStatus() }}</h4>
<input type="text" class="form-control" [(ngModel)]="appareilName">
<div style="width:20px;height:20px;background-color:red;"
*ngIf="appareilStatus === 'éteint'"></div>


</li>
